<nav class="navbar">
  <a href="/">XOArena</a>

  <% if(currentUser){ %>
  <div>
    <a href="/lobby">Lobby</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/logout">Logout</a>
  </div>
  <% } %>
</nav>