<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/navbar") %>

    <main class="center">
      <h1>Leaderboard</h1>
      <p>Coming Soon...</p>
    </main>
  </body>
</html>